
/mu-plugins/automation-by-installatron.php
/mu-plugins/wp-easy-mode.php
/themes/twenty*
/themes/fictional_university_theme/node_modules/
/themes/fictional_university_theme/build/
/themes/fictional_university_theme/build/
/plugins/rc-are-you-paying-attention/node_modules/
/plugins/rc-are-you-paying-attention/build/
